body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff
}

img {
    display: block;
    width: 200px;
    margin: auto;
}

h1,h2{
    font-family: 'Impact', sans-serif;
    color: #203A81
}

.search{
    margin: auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.search form {
    display: flex;
    gap: 10px;
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #203A81;
    color: white;
    border: 10px solid ;
    border-radius: 4px;
    cursor: pointer;
}

.search button:hover {
    background-color: #1a2a5c;
}

#suggestions {
    position: absolute;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

#playerInfo {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    max-width: 320px;
}

#playerInfo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
